.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.github {
  display: flex;
  flex-direction: column;
}

.slanted {
  background: rgba(179,220,237,1);
  background: linear-gradient(to right, rgba(179,220,237,0.8) 0%, rgba(41,184,229,0.8) 50%, rgba(188,224,238,0.8) 100%);
  height:500px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.home-header {
  margin: auto auto 5rem auto;
  max-width: 700px;
  font-size: 1.3rem;
} 
.intro {
  background-color: rgba(194, 194, 194,0.25);
  border-radius: 2rem;
  padding: 1rem;
}
.home-contribute {
  max-width: 700px;
  font-size: 1.3rem;
  padding: 1rem;
}

.home-usenow {
  padding: 5%;
  height: 50VH;
}

.usenow-content {
  margin-top: 10rem;
}

.section {
  margin: 3rem auto 2rem auto;
}

.circle {
  border-radius: 50%;
  border: 2px #d9d9d9 dotted;
  position: absolute;
}
.circle.one {
  width: 300px;
  height: 300px;
  right: 0px;
  top: -10px;
  z-index: -1;
}
.circle.two {
  width: 275px;
  height: 275px;
  right: 0px;
  z-index: -1;
}
.circle.three {
  width: 200px;
  height: 200px;
  right: 0;
  top: 20px;
  z-index: -1;
}
.circle.four {
  width: 375px;
  height: 375px;
  right: 180px;
  top: -210px;
  z-index: -1;
}
.circle.five {
  width: 100px;
  height: 100px;
  right: 20px;
  top: 40px;
  z-index: -1;
}
.circle.six {
  width: 175px;
  height: 175px;
  right: 200px;
  top: -100px;
  z-index: -1;
}
.circle.seven {
  width: 300px;
  height: 300px;
  top: -150px;
  right: 200px;
  z-index: -1;
}
.circle.eight {
  width: 250px;
  height: 250px;
  top: -120px;
  right: 200px;
  z-index: -1;
}
.circle.nine {
  width: 400px;
  height: 400px;
  top: -50px;
  right: 0px;
  z-index: -1;
}
.circle.ten {
  width: 135px;
  height: 135px;
  right: 20px;
  top: 300px;
  z-index: -1;
}
.circle.eleven {
  width: 145px;
  height: 145px;
  right: 20px;
  top: 300px;
  z-index: -1;
}
.circle.twelve {
  width: 55px;
  height: 55px;
  right: 40px;
  top: 340px;
  z-index: -1;
}
.circle.thirteen {
  width: 255px;
  height: 255px;
  right: 0px;
  top: 250px;
  z-index: -1;
}
.circle.fourteen {
  width: 220px;
  height: 220px;
  right: 0px;
  top: 20px;
  z-index: -1;
}